body, * {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

body .strip, * .strip {
  width: 100%;
  min-height: 250px; }

body .container, * .container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

body h2, * h2 {
  color: #303030;
  /*text-align: center;*/
  padding: 0 0 15px;
  font-size: 35px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6); }

body h3, * h3 {
  color: #303030;
  /*text-align: center;*/
  padding: 0 0 15px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 30px; }

body h7, * h7 {
  color: #303030;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 35px; }

body p, * p {
  color: #303030;
  text-shadow: 0.1px 0.1px 0px rgba(0, 0, 0, 0.6);
  /*	padding: 20px; */ }

body h4, * h4 {
  color: #fff;
  font-size: 35px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  padding-bottom: 40px; }

body input, * input {
  padding-top: 10px;
  width: 750px; }

body textarea, * textarea {
  width: 750px; }

#menubar {
  width: 100%;
  height: 50px;
  background: #2B2B2B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }

#menubar .menuitem {
  list-style: none;
  padding: 15px 35px;
  display: block;
  float: left; }

#menubar .menuitem a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px; }

#menubar .menuitem a:hover {
  color: #ac002a; }

#logo {
  float: left;
  width: 15%; }

#logo img {
  width: 100%;
  padding: 3px 0 0; }

#header {
  padding: 100px 0px;
  min-height: auto;
  position: relative; }

#header .background {
  background-image: url("../img/228H.jpg");
  background-size: cover;
  background-position: 100% 58%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: contrast(0.6) grayscale(0);
  top: 0;
  left: 0; }

#header .background .content {
  width: 60%;
  margin: 0 auto;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6); }

#header .background .content h1 {
  text-align: center;
  padding: 0 0 15px;
  font-size: 45px; }

#header .background .content p12 {
  color: #fff; }

#header .background .content p10 {
  text-align: center;
  padding: 0 0 15px;
  font-size: 25px; }

#header .background .content p {
  text-align: justify;
  padding: 15px; }

#services .background {
  /*	background-image: url("../img/148H.jpg");*/
  /*	background: #eaeaea;*/
  background-size: cover;
  background-position: 100% 58%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: contrast(0.6) grayscale(0.4);
  top: 0;
  left: 0;
  opacity: 0.5; }

#services .service {
  display: block;
  float: left;
  width: 23.5%;
  padding: 10px;
  margin: 0 7px;
  box-sizing: border-box;
  color: #303030;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  margin: 0 auto; }

#services .service img {
  padding-bottom: 5px; }

#services .service p {
  padding-top: 40px; }

#pricing {
  padding: 130px 0px;
  position: relative;
  min-height: 140px; }

#pricing .background {
  /*background-image: url("148H.jpg");*/
  background: #eaeaea;
  background-size: cover;
  background-position: 100% 58%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: contrast(0.6) grayscale(0.1);
  top: 0;
  left: 0;
  opacity: 0.5; }

#pricing .background .pricebox {
  display: block;
  float: left;
  width: 23.5%;
  padding: 5px;
  margin: 5 5px;
  box-sizing: border-box;
  color: #303030;
  text-shadow: 0.1px 0.1px 0px rgba(0, 0, 0, 0.6);
  margin: 0 40px; }

#faq {
  font-style: 15nt;
  padding: 130px 0px;
  position: relative;
  min-height: 200px;
  /*text-shadow: 1px 1px 0px rgba(0,0,0,0.6);*/ }

#faq .background {
  background-image: url("../img/150H.jpg");
  background-size: cover;
  background-position: fixed;
  background-position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: contrast(0.6) grayscale(0.1);
  top: 0;
  left: 0;
  opacity: 0.4; }

#faq .background .h4 {
  color: #fff;
  font-size: 35px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  padding-bottom: 40px; }

#faq .background .h4 .panel-group p11 {
  padding: 10px; }

#faq .background .h4 .panel-group p11 .input {
  padding-top: 10px;
  width: 750px; }

#faq .background .h4 .panel-group p11 .input .textarea {
  width: 750px; }

#faq .background .h4 .panel-group p11 .input .textarea .contact_form {
  padding-top: 150px; }
