#header {
	padding: 100px 0px;
	min-height: auto;
	position: relative;

	.background {
		background-image: url("../img/228H.jpg");
		background-size: cover;
		background-position: 100% 58%;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		-webkit-filter: contrast(0.6) grayscale(0);
		top: 0;
		left: 0;
	

		.content {
			width: 60%;
			margin: 0 auto;
			color: #FFF;
			text-shadow: 1px 1px 0px rgba(0,0,0,0.6);

			h1 {
				text-align: center;
				padding: 0 0 15px;
				font-size: 45px;
			}

				p12 {
					color: #fff;
				}


				p10 {
					text-align: center;
					padding: 0 0 15px;
					font-size: 25px;
				}

				p {
					text-align: justify;
					padding: 15px;
				}
			}
		
	}
}
