#services {
	.background {
		/*	background-image: url("../img/148H.jpg");*/
		/*	background: #eaeaea;*/
		background-size: cover;
		background-position: 100% 58%;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		-webkit-filter: contrast(0.6) grayscale(0.4);
		top: 0;
		left: 0;
		opacity: 0.5;
	}

	.service {
		display: block;
		float: left;
		width: 23.5%;
		padding: 10px;
		margin: 0 7px;
		box-sizing: border-box;
		color: #303030;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
		margin: 0 auto; 	
		
		img {
			padding-bottom: 5px;
		}
		p {
			padding-top: 40px;
		}
	}
}

